@font-face {
  font-family: 'Nothing';
  src: local('Nothing'), url('/nothing-font-5x7.ttf'), format('ttf');
}

h1,
h2,
h3,
h4 {
  font-family: 'Nothing', sans-serif;
}

.standard {
  background-color: green;
}

.error {
  background-color: hotpink;
}
